* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body {
    color: brown;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#container {
    padding-top: 0.2rem;
    width: 70%;
    padding: 0.2rem;
    text-align: center;
    border: 5px solid deeppink;
}

#container h1 {
    font-size: 2rem;
}