* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

#cabecera {
    background-color: blanchedalmond;
    
}

.link {

    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    display: flex;
    
}

body {
    color: brown;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container {
    padding-top: 0.2rem;
    width: 70%;
    padding: 0.2rem;
    text-align: center;
    border: 2px solid gray;
}

#container h1 {
    font-size: 2rem;
}